.header{
    color: aliceblue;
}
.divText {
    width: 370;
    height: 47;
    margin-top: 5%;
}

.divimageStock{
    width: 70px;
    height: 70px;
    background: #fff;
}
body,html{
    height: 100%;
    padding: 0;
    margin: 0;
}
#chartdiv{
    width: 100%;
    height: 100%;
}